body {
    background-image: url(../images/spring.png);
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    margin: 30px;
}

#header {
    font-family: Arial, Helvetica, sans-serif;
    color: #4aaaa5;
    margin: auto;
}

h1 {
    color: white;
    background-color: teal;
    float: left;
    padding: 33.3px;
    margin: 50px;
    width: 230px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
    padding: 10px;
    background-color: white;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #777777;

}

#navigator {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
	float: right;
	color: #777777;
	font-size: 15px;
	width: 90%;
	text-align: right;
	padding: 35px;
    margin: -60px;
    border-bottom: 1pt;
    border-style: solid;
    border-bottom-color: darkgray;
}

#container {
    width: 960px;
}

p {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}
img {
    clear: both;
    float: left;
    width: 150px;
    height: 150px;
    padding: 10px;
}

#section-left {
    float: left;
    clear: both;
    margin: auto;
    background-color: white;
    width: 500px;
    overflow: auto;
    margin: 50px;
    padding: 75px;
    border: 1px;
    border-style: solid;
    border-color: #777777;
    text-align: left;
}
#img1 {
    float: left;
    padding: 30pc;

}

#portfolio: {
    float: :left;
    color: white;
    background-color: teal;
    float: left;
    padding: 33.3px;
    margin: 50px;
    width: 230px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    clear: both;
    font-size: 10px;
    color: white;
    overflow: auto;
	background-color: #666666;
    text-align: center;
    border-top: 5px;
	border-top-color: #4aaaa5;	
	border-style: solid;
    padding: 25px;
    margin: 0px;
}